@font-face {
  font-family: 'paybooc';
  src: url(@asset/font/paybooc.ttf);
}

@font-face {
  font-family: 'paybooc-medium';
  src: url(@asset/font/payboocMedium.ttf);
}

@font-face {
  font-family: 'paybooc-bold';
  src: url(@asset/font/payboocBold.ttf);
}

@font-face {
  font-family: 'paybooc-extrabold';
  src: url(@asset/font/payboocExtraBold.ttf);
}
